/* style.css */
.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
}
.chat-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 60vh;
    border: 1px solid #888;
    z-index: 9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    display: block; /* Controlled by JS */
    overflow: hidden;
    background-color: transparent;
    padding-bottom: 10px;
}
.chat-popup::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/background-landing.jpg");
    background-size: cover; /* Cover ensures the image covers the entire div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image in the div */
    opacity: 0.5; /* Adjust transparency as needed */
    z-index: -1; /* Ensures the content is above the background */
}
.chat-messages {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.chat-input-area {
    display: flex;
    justify-content: space-between;
}
.chat-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}
.message{
    margin-bottom: 5px;
}
.MyMsg {
    display: block;
    align-self: flex-start;
    direction: ltr;
    text-align: left;
    background: #f1f1f1;
    border-radius: 2px;
    margin-left: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}
.time{
    display: block;
    text-align: right;
    color: #37c924;
    font-size: 0.6em;
    font-style: italic;
}
.user{
    margin-top: 5px;
    display: block;
    text-align: right;
    color: red;
    font-size: 0.6em;
    font-style: oblique;
    margin-bottom: 5px;
}
.OtherMsg {
    align-self: flex-end;
    direction: ltr;
    text-align: right;
    background: #f1f1f1;
    border-radius: 2px;
    margin-right: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}
#chatInput {
    flex-grow: 1;
    margin-right: 10px;
}