body {
  font-family: Arial, sans-serif;
  margin: 60px;
  padding: 0;
  background-color: #f1f5f9;
}

.menu {
  max-width: 1000px;
  max-height: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-image: url('/static/assets/images/background-landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #0f172a;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 5px;
  color: #0f172a;
  font-size: 50px;
}

h2 {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 0;
  padding-left: 40%;
  color: #0f172a;
}

h3 {
  font-size: 25px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 20px;
  color: #0f172a;
}

.combat {
  border: 2px solid #0f172a;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f3d2;
  border-radius: 10px;
  background-image: url('/static/images/menu/listBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.play-button {
  margin-left: -15.5%;
  margin-top: 30px;
  padding: 0; /* Remove padding */
  background-color: transparent; /* Remove background color */
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block; /* Change display to inline-block */
  width: 100px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  background-image: url('/static/images/menu/playButton.png'); /* Set background image */
  background-size: cover; /* Cover the entire button with the image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition effect */
}

.play-button:hover {
  transform: scale(1.10); /* Scale up the button on hover */

}

.fusionButton {
  margin-left: 45%;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: transparent; /* Remove background color */
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block; /* Change display to inline-block */
  width: 100px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  background-image: url('/static/images/menu/fuseButton.png'); /* Set background image */
  background-size: cover; /* Cover the entire button with the image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition effect */
}

.fusionButton:hover {
  transform: scale(1.10); /* Scale up the button on hover */

}

.containers {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 250px;
  border: 2px solid #0f172a;
  padding: 20px;
  background-color: #f9f3d2;
  border-radius: 10px;
  background-image: url('/static/images/menu/listBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.containerBuildings {
  border: 2px solid #0f172a;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f3d2;
  border-radius: 10px;
  background-image: url('/static/images/menu/listBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: clip;
}

.item {
  text-align: center;
  height: 55px;
  margin-bottom: 10px;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  position: relative; /* Set position to relative */
  background-image: url('/static/images/menu/itemBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.item:hover {
  background-color: rgba(206, 133, 25, 0.8); /* Adjust the background color with transparency */
}

.building {
  text-align: center;
  height: 55px;
  margin-bottom: 10px;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  position: relative; /* Set position to relative */
  background-image: url('/static/images/menu/itemBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.building:hover {
  background-color: rgba(206, 133, 25, 0.8); /* Adjust the background color with transparency */
}
.combat {
  display: flex;
}

.tab {
  flex: 1;
  padding: 15px;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: #969478;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab:not(:last-child) {
  margin-right: 10px; /* Adjust as needed */
}

.tab:hover {
  background-color: #72715d;
}

.exit {
  position: relative;
  right: -510px;
  margin-left: 45%;
  margin-top: 0;
  padding: 0;
  background-color: transparent; /* Remove background color */
  border: none;
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  background-image: url('/static/images/menu/exit.png'); /* Set background image */
  background-size: cover; /* Cover the entire button with the image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition effect */
}

.exit:hover {
  transform: scale(1.10);
}

.fireSpell{
    height: 50px;
    width: 50px;
    transform: translate(100%, 0%);
}

.freezeSpell{
    height: 50px;
    width: 80px;
    transform: translate(50%, 0%);
}

.shieldSpell{
    height: 55px;
    width: 95px;
    transform: translate(45%, 0%);
}

.diamondGem{
    height: 35px;
    width: 35px;
    transform: translate(120%, 25%);
}

.emeraldGem{
    height: 50px;
    width: 50px;
    transform: translate(90%, 0%);
}

.rubyGem{
    height: 55px;
    width: 55px;
    transform: translate(105%, 0%);
}

.sapphireGem{
    height: 60px;
    width: 60px;
    transform: translate(75%, 0%);
}

.arrow{
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    background-image: url('/static/images/menu/arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hp{
    height: 50px;
    width: 50px;
    transform: translate(150%, 5%);
}

.damage{
    height: 60px;
    width: 60px;
    transform: translate(95%, -5%);
}

.tree{
    height: 50px;
    width: 50px;
    transform: translate(150%, 5%);
}

.tower{
    height: 70px;
    width: 70px;
    transform: translate(97%, -10%);
}

.bush{
    height: 50px;
    width: 50px;
    transform: translate(150%, 5%);
}