/* Fonts */
@font-face {
    font-family: 'Surabasa';
    src: url('../fonts/SurabanglusNormal.ttf') format('truetype');
}
@font-face {
    font-family: 'Eras Light ITC';
    src: url('../fonts/ITCErasLightRegular.otf') format('truetype');
}
@font-face {
    font-family: 'Cascadia Code';
    src: url('../fonts/Cascadia.ttf') format('truetype');
}

html {
    cursor: url('../assets/images/wand.png'), auto;
}

body {
    background: url("../assets/images/background-landing.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Surabasa', sans-serif;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5)
}
input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff;
}
input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Cascadia Code", sans-serif;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-family: "Eras Light ITC", sans-serif;
    color: #888;
}