body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f5f9;
}

.settings-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f3d2;
  border: 2px solid #0f172a;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #0f172a;
}

.settings {
  display: flex;
  flex-direction: column;
}

.slider, .checkbox, .radio-group, .dropdown {
  margin-bottom: 20px;
}

.slider label, .checkbox label, .radio-group label, .dropdown label {
  color: #0f172a;
  margin-bottom: 5px;
  display: block;
}

.slider input[type="range"] {
  width: 100%;
  margin-top: 5px;
}

.checkbox input[type="checkbox"], .radio-group input[type="radio"], .dropdown select {
  margin-right: 10px;
}

.radio-group .radio {
  display: inline-block;
  margin-right: 20px;
}

.dropdown select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #0f172a;
  background-color: #ccc5ab;
}

.key-binds {
  display: flex;
  flex-wrap: wrap;
}

.key-bind {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.key-bind label {
  margin-bottom: 5px;
}

.applyButton{
  background: #ccc5ab;
  margin-left: 94%;
}

/* exit button */
.exit {
  position: relative;
  right: -510px;
  margin-left: 45%;
  margin-top: 0;
  padding: 0;
  background-color: transparent; /* Remove background color */
  border: none;
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  background-image: url('/static/assets/images/menu/exit.png'); /* Set background image */
  background-size: cover; /* Cover the entire button with the image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition effect */
}

.exit:hover {
  transform: scale(1.10);
}