<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Building</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="container">
  <h1>Building</h1>

  <div class="items">
    <div class="gems">
      <h2>Active Gems</h2>
      <div class="item">Sapphire</div>
      <div class="item">Diamond</div>
    </div>

    <div class="gems">
      <h2>Gems</h2>
      <div class="item">Ruby</div>
      <div class="item">Emerald</div>
      <div class="item">Sapphire</div>
    </div>

  </div>

</div>

</body>
</html>