<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/external/auth.js') }}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/register-login.css')}}">
    <title>{{app_name}}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container">
    <h2>Password Reset</h2>
    <p class="text">We require you to enter your first & last name like you entered when registering this account. This is to ensure you're the real owner of this account.</p>
    <form id="passwordResetForm">
        <input id="username" type="text" name="username" placeholder="Username" required>
        <input id="firstname" type="text" name="firstname" placeholder="First name" required>
        <input id="lastname" type="text" name="lastname" placeholder="Last name" required>
        <input id="newPassword" type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Reset password">
    </form>
    <div class="footer">
        Don't have an account? <a href="/register">Register here</a>
        <br>
        Already have an account? <a href="/login">Login here</a>
    </div>
</div>
</body>
</html>
