body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f5f9;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #0f172a;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #0f172a;
}

.altar {
  border: 2px solid #0f172a;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f3d2;
}

.play-button {
  padding: 10px 20px;
  background-color: #37c924;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.items {
  display: flex;
  justify-content: space-between;
}

.stakes, .gems, .spells {
  width: 30%;
  border: 2px solid #0f172a;
  padding: 20px;
  background-color: #f9f3d2;
  border-radius: 10px;
}

.item {
  margin-bottom: 10px;
  background-color: #0f172a;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.item:hover {
  background-color: #b1bd17;
}